section {
  z-index: 999;
  background-image: url("../public/images/pattern-bg.png");
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  h1 {
    text-align: center;
    color: white;
    font-weight: 500;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  input {
    border-radius: 5px 0px 0px 5px;
    border: none;
    width: 400px;
    height: 20px;
    padding: 12px;
    &:focus {
      outline: none;
    }
    &::content {
      padding: 12px;
    }
    &::placeholder {
      padding: 12px;
      color: var(--dark-gray);
      font-weight: 700;
    }
  }
  div {
    margin: 0 auto;
    display: flex;
    width: 85%;
    justify-content: center;
    button {
      width: 40px;
      border: none;
      border-radius: 0px 5px 5px 0px;
      background-color: black;
      cursor: pointer;
      &:hover {
        background-color: var(--dark-gray);
      }
      img {
        width: 10px;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  section {
    input {
      width: 100%;
    }
  }
}
